{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h3 class="border-bottom mb-4 pb-1">Change Password</h3>
        <form action="{% url 'change-password' %}" method="post">
            {% csrf_token %}
            {% for message in messages %}
            <p class="alert alert-warning">{{message}}</p>
            {% endfor %}
            <table class="table table-bordered">
                {% for field in form %}
                    <tr>
                        <th>{{field.label}}</th>
                        <td>
                            {{field}}
                            {% for error in field.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <button class="btn btn-success" type="submit">Change Password</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("input").addClass('form-control');
    });
</script>
{% endblock %}