{% extends 'layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><a href="/profile">Profile</a></li>
            <li class="list-group-item"><a href="/setting">Setting</a></li>
            <li class="list-group-item"><a href="/threads">Threads</a></li>
            <li class="list-group-item"><a href="/replies">Replies</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Username</th>
                        <td>{{request.user}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{request.user.email}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="/change-password" class="btn btn-dark btn-sm">Change Password</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}